{% extends 'base.html' %}

{% load static %}

{% block head %}
<!-- Algumas classes de estilização usadas aqui são as mesmas do que o app products então vamos usar para não repetir código -->
<link rel="stylesheet" href="{% static 'products/styles.css' %}">

<!-- Formulários -->
<link rel="stylesheet" href="{% static 'global/form-default-style.css' %}">
<link rel="stylesheet" href="{% static 'global/buttons-default-style.css' %}">

<style>
    .warning {
        color: var(--destructive);
        font-weight: bold;
    }

    .add-space-bottom {
        margin-bottom: 3.5rem;
    }

    .product-active {
        color: var(--primary);
        font-weight: bold;
    }

    .product-desactive {
        color: var(--destructive);
        font-weight: bold;
    }

    .product-actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;
    }

    .product-actions button {
        background: none;
        border: none;
        color: var(--primary-dark);
        text-decoration: none;
        font-weight: bold;
        padding: 0.3rem 0.8rem;
        border-radius: var(--radius-sm);
        transition: var(--transition);
        cursor: pointer;
        font-size: 0.9rem;
    }

    .product-actions button:hover {
        background: var(--primary);
        color: var(--primary-foreground);
        transform: scale(1.05);
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .modal.show {
        opacity: 1;
        visibility: visible;
    }

    .modal-content {
        transform: scale(0.9);
        transition: transform 0.3s ease;
        /* Sobreescreve o margin-top: ; de form-section */
        margin-top: 0;
    }

    .modal.show .modal-content {
        transform: scale(1);
    }

    .form-group button.add-btn {
        margin-bottom: 1rem;
    }
</style>
{% endblock %}

{% block content %}
<main class="main-content">
    <div class="container">
        <!-- Hero Section -->
        <section class="hero-section">
            <h2>Gerenciamento de Produtos</h2>
            <p>
                Aqui você pode gerenciar os produtos da sua loja que serão exibidos.

                <br>
                Avisos:
                <br>
                <span class="warning">Os produtos marcados como desativados não serão exibidos ao catálogo de produtos
                    para o cliente</span>
            </p>
        </section>

        <section class="products-filters">
            <input type="text" placeholder="Buscar produtos..." id="searchInput" class="form-control">
        </section>

        <button class="add-btn add-space-bottom" id="addProductButton">Adicionar Produto</button>

        <!-- Products Grid -->
        <section class="products-grid" id="productsGrid">
            {% for product in products %}
            <div class="product-card">
                <div class="product-image">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" loading="lazy">
                    {% else %}
                    <img src="https://via.placeholder.com/200x200?text=Sem+Imagem" alt="{{ product.name }}"
                        loading="lazy">
                    {% endif %}
                </div>
                <div class="product-info">
                    <h3 class="product-name">{{ product.name }}</h3>
                    <p class="{% if product.is_active %}product-active{% else %}product-desactive{% endif %}">
                        {% if product.is_active %}Ativo{% else %}Desativado{% endif %}
                    </p>
                    <p class="product-price">R$&nbsp;{{ product.price|floatformat:2 }}</p>
                    <div class="product-actions">
                        <button class="edit-btn">Editar</button>
                        <button class="delete-btn">Excluir</button>
                        <button class="toggle-btn">
                            {% if product.is_active %}
                            Desativar
                            {% else %}
                            Ativar
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Nenhum produto disponível.</p>
            {% endfor %}
        </section>
    </div>

    <div class="modal" id="modalAddProduct">
        <div class="modal-content form-section">
            <h3 class="form-title">Adicionar Produto</h3>
            <form id="addProductForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="productName">Nome do Produto</label>
                    <input type="text" id="productName" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="productPrice">Preço do Produto</label>
                    <input type="number" id="productPrice" name="price" class="form-control" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="productImage">Imagem do Produto</label>
                    <input type="file" id="productImage" name="image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="productIsActive">Ativo</label>
                    <select name="is_active" id="productIsActive" class="form-control">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="add-btn w-100">Adicionar Produto</button>
                    <button type="button" class="cancel-btn w-100" id="closeModalButtonAdd">Cancelar</button>
                </div>
            </form>
            <div id="changeAlert" class="alert alert-danger mt-3" style="display:none;"></div>
        </div>
    </div>

    <div class="modal" id="modalEditProduct">
        <div class="modal-content form-section">
            <h3 class="form-title">Editar Produto</h3>
            <form id="editProductForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="productName">Nome do Produto</label>
                    <input type="text" id="productName" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="productPrice">Preço do Produto</label>
                    <input type="number" id="productPrice" name="price" class="form-control" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="productImage">Imagem do Produto</label>
                    <input type="file" id="productImage" name="image" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="add-btn w-100">Adicionar Produto</button>
                    <br>
                    <button type="button" class="cancel-btn w-100" id="closeModalButtonEdit">Cancelar</button>
                </div>
                <div id="changeAlert" class="alert alert-danger mt-3" style="display:none;"></div>
            </form>
        </div>
    </div>

    <div class="modal" id="modalConfirmDeleteProduct">
        <div class="modal-content form-section">
            <h3 class="form-title" style="margin-bottom: 0;">Confirmar Exclusão</h3>
            <p style="margin-bottom: 1rem;">Você tem certeza que deseja excluir este produto?</p>
            <div class="form-group">
                <button type="button" class="add-btn w-100" id="confirmDeleteButton">Confirmar</button>
                <button type="button" class="cancel-btn w-100" id="closeModalButtonDelete">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="modal" id="modalConfirmToggleProduct">
        <div class="modal-content form-section">
            <h3 class="form-title" style="margin-bottom: 0;">Confirmar Ação</h3>
            <p style="margin-bottom: 1rem;">Você tem certeza que deseja ativar/desativar este produto?</p>
            <div class="form-group">
                <button type="button" class="add-btn w-100" id="confirmToggleButton">Confirmar</button>
                <button type="button" class="cancel-btn w-100" id="closeModalButtonToggle">Cancelar</button>
            </div>
        </div>
    </div>
</main>

<!-- os elementos daqui possuem as mesmas classes e referências usadas em app products então vamos usar para não repetir código -->
<script src="{% static '/products/filterProductsByName.js' %}"></script>
<script>
    // Modal Add Product
    const modalAddProduct = document.getElementById('modalAddProduct');
    const addProductButton = document.getElementById('addProductButton');
    const closeModalButtonAdd = document.getElementById('closeModalButtonAdd');

    addProductButton.addEventListener('click', () => {
        modalAddProduct.classList.add('show');
    });

    closeModalButtonAdd.addEventListener('click', () => {
        modalAddProduct.classList.remove('show');
    });

    // Modal Edit Product
    const modalEditProduct = document.getElementById('modalEditProduct');
    const editButtons = document.querySelectorAll('.edit-btn');
    const closeModalButtonEdit = document.getElementById('closeModalButtonEdit');

    editButtons.forEach((button) => {
    button.addEventListener('click', () => {
        modalEditProduct.classList.add('show');
    });
    });

    closeModalButtonEdit.addEventListener('click', () => {
    modalEditProduct.classList.remove('show');
    });

    // Modal Confirm Delete Product
    const modalConfirmDeleteProduct = document.getElementById('modalConfirmDeleteProduct');
    const deleteButtons = document.querySelectorAll('.delete-btn');
    const confirmDeleteButton = document.getElementById('confirmDeleteButton');
    const closeModalButtonDelete = document.getElementById('closeModalButtonDelete');

    deleteButtons.forEach((button) => {
        button.addEventListener('click', () => {
            modalConfirmDeleteProduct.classList.add('show');
        });
    });

    confirmDeleteButton.addEventListener('click', () => {
        // Lógica para confirmar a exclusão do produto
    });

    closeModalButtonDelete.addEventListener('click', () => {
        modalConfirmDeleteProduct.classList.remove('show');
    });

    // Modal Confirm Toggle Product
    const modalConfirmToggleProduct = document.getElementById('modalConfirmToggleProduct');
    const toggleButtons = document.querySelectorAll('.toggle-btn');
    const confirmToggleButton = document.getElementById('confirmToggleButton');
    const closeModalButtonToggle = document.getElementById('closeModalButtonToggle');

    toggleButtons.forEach((button) => {
        button.addEventListener('click', () => {
            modalConfirmToggleProduct.classList.add('show');
        });
    });

    confirmToggleButton.addEventListener('click', () => {
        // Lógica para confirmar a ativação/desativação do produto
    });

    closeModalButtonToggle.addEventListener('click', () => {
        modalConfirmToggleProduct.classList.remove('show');
    });

    // Fechar modal clicando fora (ambos os modais)
    window.addEventListener('click', (event) => {
        if (event.target === modalAddProduct) {
            modalAddProduct.classList.remove('show');
        }
        if (event.target === modalEditProduct) {
            modalEditProduct.classList.remove('show');
        }
        if (event.target === modalConfirmDeleteProduct) {
            modalConfirmDeleteProduct.classList.remove('show');
        }
        if (event.target === modalConfirmToggleProduct) {
            modalConfirmToggleProduct.classList.remove('show');
        }
    });
</script>
{% endblock %}