{% load static %}

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-brand">
                <div class="footer-logo">
                    <img src="{% static 'images/logo.jpg' %}" alt="{{ global_info.company_name|default:" Delivery
                        Service" }}" class="logo-icon">
                    <div class="logo-text">
                        <h3>{{ global_info.company_name|default:"Delivery Service" }}</h3>
                    </div>
                    <!-- <p>Distribuidora de Água</p> -->
                </div>
            </div>

            <div class="footer-address">
                <h4><i data-lucide="map-pin"></i> Endereço</h4>
                <p>{{ global_info.company_address|default:"Endereço não informado" }}</p>
            </div>

            <div class="footer-contact">
                <h4><i data-lucide="phone"></i> Contato</h4>
                <div class="contact-info">
                    {% if global_info.company_contacts %}
                    {% for phone in global_info.company_contacts %}
                    <p>{{ phone }}</p>
                    {% endfor %}
                    {% else %}
                    <p>Contato não informado</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>© 2024 {{ global_info.company_name|default:"Delivery Service" }}. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>